@using static HelloDocAdmin.Entity.ViewModels.AdminSite.Constant;
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    var enumData = from AdminStatus e in Enum.GetValues(typeof(AdminStatus))
                   select new
                   {
                       ID = (int)e,
                       Name = e.ToString()
                   };
}


<div class="container">
    <div class="card bg-transparent border-0">
        <div class="card-header d-flex justify-content-between  border-0  bg-transparent p-1  mt-3 mb-2">
            <div class="text-start d-flex align-items-center">
                <h5 class="mt-2"><b> Provider Information</b></h5>

            </div>
            <div class="text-end">
                <a asp-controller="Dashboard" asp-action="Index"
                   class="btn btn-outline-info btn-back">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                         fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5" />
                    </svg>Back
                </a>
            </div>
        </div>

        <div class="card-body rounded shadow">
            <div class="d-flex justify-content-between align-items-center">
                
                <div class="d-flex">
                    <div class="dropdown text-start ">

                        <div class="input-control w-100 col-md-6 ">
                            <select class="input-outline input-outline-select inp asp  inp-dis" onchange="getfilterdata()" id="RegionID" data-allow-clear="true" tabindex="-1" asp-items="@(new SelectList(ViewBag.RegionComboBox, "RegionId", "RegionName"))" data-control="select2" data-placeholder="Select Level">
                                <option value="0">Select Region</option>
                            </select>
                        </div>
                    </div>
                    <div class="inputs-control mx-2 col-md-6">
                            <input placeholder=" " id="ProviderName" onkeyup="getfilterdata()" class="input-outline w-100 inp admin-input" type="text">
                            <label class="inputs-lable">ProviderName</label>
                        </div>
                   
                </div>
               
                <div class="text-end d-flex">
                    <form asp-action="ChangeNotificationPhysician" class="mx-2" id="saveChangesForm" asp-controller="Physician">
                        <input type="hidden" id="changedValuesInput" name="changedValues">
                        <button class="btn btn-info text-white" style="display:none;" type="submit" id="saveChangesButton">
                            <span>
                                <span class="addnewlg">
                                    Save Changes <i class="fa fa-floppy-o" aria-hidden="true"></i>

                                </span>
                                <span class="addnewsm">
                                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                </span>
                            </span>
                        </button>
                    </form>
                    <a class="btn btn-info text-white h6" asp-action="PhysicianProfile" asp-controller="Physician">
                        <span >
                            <span class="addnewlg">
                                Add Provider <i class="fa fa-address-book-o" aria-hidden="true"></i>
                            </span>
                            <span class="addnewsm">
                                <i class="fa fa-address-book-o" aria-hidden="true"></i>
                            </span>
                    </span>
                    
                    </a>
                </div>
            </div>
          
            <div class="position-relative ">




                <div class="middle loding-div position-absolute  top-50" style="left:50%;z-index:99">
                    <div class="bar bar1"></div>
                    <div class="bar bar2"></div>
                    <div class="bar bar3"></div>
                    <div class="bar bar4"></div>
                    <div class="bar bar5"></div>
                    <div class="bar bar6"></div>
                    <div class="bar bar7"></div>
                    <div class="bar bar8"></div>
                </div>


                <div id="SearchResult">
                </div>


            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header  bg-info text-white">
                <h1 class="modal-title fs-5" id="exampleModalLabel"> Contact Your Provide </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="SendMessage" asp-controller="Physician">
                <div class="modal-body">
                    <h5 class="modal-title " id="exampleModalLabel"> Select communication Way  <span class="text-info" id="patientname"> </span></h5>
                    <input type="hidden" name="email" id="email" />
                    <input type="hidden" name="id" id="phyid" />
                    <div class="mb-4 mx-3">
                        <div class="form-check p-2 ">
                            <input class="form-check-input " value="1" type="radio" name="way" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Sms
                            </label>
                        </div>
                        <div class="form-check p-2">
                            <input class="form-check-input" value="2" type="radio" name="way" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                Email
                            </label>
                        </div>
                        <div class="form-check p-2 ">
                            <input class="form-check-input" value="3" type="radio" name="way" id="flexRadioDefault3">
                            <label class="form-check-label" for="flexRadioDefault2">
                                Both
                            </label>
                        </div>
                    </div>
                    <div class="mb-4 form-floating ">
                
                        <div class="inputs-control w-100 mt-2">
                            <textarea id="changenote" placeholder=" " name="msg" rows="5" class="input-outline w-100  " type="text"></textarea>

                            <label class="inputs-lable inputs-lable-textarea " id="notedata">Message</label>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="submit" class=" btn btn-info text-white" value="Send" style="display:block !important">
                    <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    setTimeout(function () { $(".loding-div").hide() }, 500);
</script>


<script>
    $(document).ready(function () {

        $('#saveChangesButton').click(function () {
            $('#saveChangesForm').submit();
        });

        // Initialize an object to track the initial state of each checkbox
        var initialState = {};

        // Store the initial state of each checkbox when the page loads
        $('.form-check-inputs').each(function () {
            initialState[this.id] = this.checked;
           
        });

        $('.form-check-inputs').change(function () {
            var changedValues = {};

            // Check each checkbox for changes
            $('.form-check-inputs').each(function () {
                if (this.checked !== initialState[this.id]) {
                    changedValues[this.id] = this.checked;
                }
            });

            // Update the hidden input with the changed values
            $('#changedValuesInput').val(JSON.stringify(changedValues));
            console.log(changedValues);
            // Show or hide the "Save Changes" button based on whether there are any changes
            if (Object.keys(changedValues).length > 0) {
                $('#saveChangesButton').show();
            } else {
                $('#saveChangesButton').hide();
            }
        });


    });

    const exampleModal = document.getElementById('myModal')
    if (exampleModal) {
        exampleModal.addEventListener('show.bs.modal', event => {
            // Button that triggered the modal
            const button = event.relatedTarget
            // Extract info from data-bs-* attributes
            const id = button.getAttribute('data-bs-id')
            const email = button.getAttribute('data-bs-email')
            // If necessary, you could initiate an Ajax request here
            // and then do the updating in a callback.
            document.getElementById('phyid').value = button.getAttribute('data-bs-id')

            // Update the modal's content.
            const modalTitle = exampleModal.querySelector('#id')
            const modalBodyInput = exampleModal.querySelector('#email')

            modalBodyInput.value = email
            modalTitle.value = id
        })
    }
    function myFunction() {
        var email = $("#Region").val();
        if (email == '-1') {
            email = null;
            location.reload();
        }
        console.log(email);
        $.ajax({
            type: "POST",
            url: '@Url.Action("Index","Physician")?region=' + email,
            cache: false,
            success: function (response) {

                console.log(response);
                $('table tbody').empty();
                // Assuming response is an array of objects, iterate through each object
                response.forEach(function (item) {
                    // Create a new row for each object
                    var newRow = $('<tr>');

                    // Add the checkbox cell
                    var checkboxCell = $('<td class="table-text px-3  justify-content-center" scope="row"  align="center" data-label="Created Date">');
                    var checkboxInput = $('<input class="form-check-input form-check-inputs" type="checkbox" value="" id="flexCheckDefault">');
                    if (item.notification[0]) {
                        checkboxInput.prop('checked', true);
                    }
                    checkboxCell.append(checkboxInput);
                    checkboxCell.append('<input class="RequestwisefilesId" type="hidden" value="' + item.physicianid + '">');
                    newRow.append(checkboxCell);

                    // Add other cells
                    newRow.append('<td scope="row" class="table-text">' + item.firstname + ' ' + item.lastname + '</td>');
                    newRow.append('<td scope="row" class="table-text">' + item.role + '</td>');
                    newRow.append('<td scope="row" class="table-text">' + item.isnondisclosuredoc + '</td>');
                    newRow.append('<td scope="row" class="table-text">' + item.status + '</td>');

                    // Add action buttons cell
                    var actionButtonsCell = $('<td class="d-flex" data-label="Document">');
                    actionButtonsCell.append('<button  data-bs-toggle="modal" data-bs-id=" ' + item.physicianid + '" data-bs-email="' + item.Email + '"data-bs-target="#myModal" class="btn btn-outline-info btn-sm document-button mx-1">Contact</button>');
                    actionButtonsCell.append('<a  href="/Physician/PhysicianProfile/' + item.physicianid + '" class="btn btn-outline-info btn-sm mx-1">Edit</a>');
                    newRow.append(actionButtonsCell);

                    // Append the new row to the table
                    $('table tbody').append(newRow);
                });

            },
            error: function () {
                alert("Error while checking email.");
            }
        });
    }
</script>


<script>
    $(function () {

        getfilterdata();


    });
</script>
<script>

    function getfilterdata() {
        $(".loding-div").show();
        var RegionID = $('#RegionID').val();
        var ProviderName = $('#ProviderName').val();

        var pagesize = $('#SizeSelect').val();
        var currentpage = $('#crt-page').val();

        $.ajax({
            url: "/Physician/PhysicianList",
            type: "GET",
            data: {
                RegionID: RegionID,
                ProviderName: ProviderName,
                currentpage: currentpage,
                pagesize: pagesize
            },
            success: function (response) {
                setTimeout(function () { $(".loding-div").hide() }, 500);
                $('#SearchResult').html(response);
            },
            error: function () {
                $(".loding-div").hide();
                alert("error");
            }
        });
    }

    function getpage(index) {
        $("#crt-page").val(index);

    }


</script>
