@{
    Layout = "~/Views/Shared/_homeLayout.cshtml";
}
<div class=" d-flex flex-column  align-items-center">
    <div class="card border-0 mt-2 bg-transparent card-newreq">
        <div class="d-grid gap-2">
            <a asp-action="Index" asp-controller="Request" class="btn btn-info btn-newreq-info" type="button">Submit A Request</a>
            <a asp-action="Index" asp-controller="Login" class="btn btn-primary btn-newreq-purple mt-3" type="button">Pegistered Patients</a>
        </div>
    </div>
</div>

