
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<form class="bg-transparent" asp-action="resetEmail" asp-controller="Login">
    @ViewData["EmailCheck"]
    <h4 class="px-4 py-4 login-hero-text">Reset Your Password</h4>
    <div class="inputs-control w-100 mt-3 mb-3">
        <input placeholder=" " name="Email" class="input-outline w-100 inp"
               type="email">
        <label class="inputs-lable">Email</label>
        <i class="far fa-user icon-input bg-transparent"></i>
    </div>
    <div class="d-grid mb-3">
        <button class="btn button-login btn-primary border-0"
                type="submit">
            Reset Password
        </button>
    </div>
    <a   asp-action="Login" asp-controller="Login" class="px-2 forgot-text">
        Back
        Log in
    </a>
</form>

