﻿<div class="modal fade" id="sendlink" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header  bg-info text-white">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Send Mail To  Patient for Submitting request</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="SendLink" asp-controller="Action" onsubmit="return onsmt_send()"  novalidate>
                <div class="modal-body">
                    <div class="inputs-control ">
                        <input placeholder=" " name="firstname" id="firstname_send" class="input-outline  w-100 inp edit-frm" type="text">
                        <label class="inputs-lable">First name</label>
                    </div>
                    <div class="inputs-control mt-2 ">
                        <input placeholder=" " name="lastname" id="lastname_send" class="input-outline w-100 inp edit-frm" type="text">
                        <label class="inputs-lable">Last name</label>
                    </div>
                    <div class="inputs-control mt-2 ">
                    <div class=" form-floating mt-2">
                            <input id="phone4" placeholder="Mobile" name="phonenumber" type="tel" class=" telephone  input-outline w-100 inp align-items-center edit-frm" />

                    </div>
                    </div>
                    <div class="inputs-control mt-2 ">
                        <input placeholder=" " name="email" id="email_send" class="input-outline w-100 inp  edit-frm" type="email">
                        <label class="inputs-lable">Email</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class=" btn btn-info text-white submit">Confirm</button>
                    <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div><script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<script>
    const phoneInputField4 = document.querySelector("#phone4");

    const phoneInput4 = window.intlTelInput(phoneInputField4, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });

</script>


<script>
    function onsmt_send() {


        
        let errorMessages = document.querySelectorAll(".err-msg");
        errorMessages.forEach(function (element) {
            element.textContent = ""; // Clear any existing error messages
        });

      
        let isValid = true;

        
        let firstname_send = document.getElementById("firstname_send");
        if (!firstname_send.value) {
            let errorMessage = "first name is required.";
            displayErrorMessage(firstname_send, errorMessage);
            isValid = false;
        }
        else{
            displayErrorMessage(firstname_send, "");
        }

        let lastname_send = document.getElementById("lastname_send");
        if (!lastname_send.value) {
            let errorMessage = "Last name  is required.";
            displayErrorMessage(lastname_send, errorMessage);
            isValid = false;
        }
        else {
            displayErrorMessage(lastname_send, "");
        }
        let phone4 = document.getElementById("phone4");
       
        if (Number.isNaN(phone4.value) || !phone4.value) {
            let errorMessage = " Plese Enter Valid Number";
            displayErrorMessage(phone4, errorMessage);
            isValid = false;
        }
        else {
            displayErrorMessage(phone4, "");
        }
     
        var validRegex = @Html.Raw("/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*$/");

        let email_send = document.getElementById("email_send");
        
        
            if (!email_send.value.match(validRegex)) {
            let errorMessage = "Enter Valid Email  .";
            displayErrorMessage(email_send, errorMessage);
            isValid = false;
        }
        else {
            displayErrorMessage(email_send, "");
        }

        if (isValid) {


            return true;
        }
        else {


            return false;
        }
    }


</script>