﻿<div class="modal fade" id="sendlink" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header  bg-info text-white">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Send Mail To  Patient for Submitting request</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="SendLink" asp-controller="Action">
                <div class="modal-body">
                    <div class="inputs-control ">
                        <input placeholder=" " name="firstname" class="input-outline w-100 inp edit-frm" type="text" required >
                        <label class="inputs-lable">First name</label>
                    </div>
                    <div class="inputs-control mt-2 ">
                        <input placeholder=" " name="lastname" class="input-outline w-100 inp edit-frm" type="text" required>
                        <label class="inputs-lable">Last name</label>
                    </div>
                    <div class=" form-floating mt-2">
                        <input id="phone4" placeholder="Mobile" name="phonenumber" type="tel" class=" telephone input-outline w-100 inp align-items-center edit-frm" required />

                    </div>
                    <div class="inputs-control mt-2 ">
                        <input placeholder=" " name="email" class="input-outline w-100 inp edit-frm" type="email" required>
                        <label class="inputs-lable">Email</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class=" btn btn-info text-white">Confirm</button>
                    <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div><script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<script>
    const phoneInputField4 = document.querySelector("#phone4");

    const phoneInput4 = window.intlTelInput(phoneInputField4, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });

</script>