﻿<div class="modal fade" id="TransferCasebyPhy" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header  bg-info text-white">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Transfer Request</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="TransferToAdmin" asp-controller="Action" onsubmit="return onsmt_TC_byphy()">
                <div class="modal-body">
                    <h6 class="modal-title">This Request Will Be Transferd To Admin.</h6>

                    <input type="hidden" name="requestid" id="RequestID_Input_ModelTransferCaseByPhy" />
                   
                    <div class="inputs-control w-100 mt-2">
                        <textarea id="trfr_By_phyNotes" placeholder=" " name="Notes" rows="5" class="input-outline w-100 fs-6 " type="text"></textarea>

                        <label class="inputs-lable inputs-lable-textarea fs-6" id="notedata">Description</label>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="submit" class=" btn btn-info text-white" value="Submit">
                    <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">

    function myFunction2() {


        var region = $("#region3").val();

        $.ajax({
            type: "POST",
            url: '@Url.Action("ProviderbyRegion","Dashboard")?Regionid=' + region,
            cache: false,
            success: function (response) {

                console.log(response);
                var s = '<option value="-1">Please Select</option>';
                for (var i = 0; i < response.length; i++) {
                    s += '<option value="' + response[i].physicianid + '">' + response[i].firstname + ' ' + response[i].lastname + '</option>';
                }
                $("#provider2").html(s);
            },
            error: function () {
                alert("Error while checking email.");
            }
        });
    }

</script>
<script>
    function onsmt_TC_byphy() {
        let errorMessages = document.querySelectorAll(".err-msg");
        errorMessages.forEach(function (element) {
            element.textContent = ""; // Clear any existing error messages
        });
        let isValid = true;
        let trfr_By_phyNotes = document.getElementById("trfr_By_phyNotes");
        if (!trfr_By_phyNotes.value) {
            let errorMessage = "Write Description";
            displayErrorMessage(trfr_By_phyNotes, errorMessage);
            isValid = false;
        }
        else {
            displayErrorMessage(trfr_By_phyNotes, "");
        }
        if (isValid) {
            return true;
        }
        else {


            return false;
        }
    }
</script>