@using HelloDocAdmin.Entity.ViewModels.PatientSite
@model ViewDashboardDataModel
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" /> 
<script type="text/javascript" charset="utf8"  src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<div class="container-fluid mt-3">
    <h4 class="px-3">Medical History</h4>
    <div class="card m-2  bg-transparent border-0 p-2  ">

        <div class="card-header-2 border-0 text-end  ">
            <button class="btn btn-sm btn-outline-info m-3 " type="button" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                <span class="addnewlg">
                    Create new Request
                </span>
                <span class="addnewsm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                    </svg>
                </span>
            </button>
        </div>

        <div class="card-body position-relative  shadow p-0">
            <div class="position-relative ">




                <div class="middle loding-div position-absolute  top-50" style="left:50%;z-index:99">
                    <div class="bar bar1"></div>
                    <div class="bar bar2"></div>
                    <div class="bar bar3"></div>
                    <div class="bar bar4"></div>
                    <div class="bar bar5"></div>
                    <div class="bar bar6"></div>
                    <div class="bar bar7"></div>
                    <div class="bar bar8"></div>
                </div>


                <div id="SearchResult">
                </div>


            </div>
         
        </div>
    </div>

</div>

<script>
    $(function () {

        getfilterdata();


    });
</script>
@*<script>
    var btn = document.getElementsByClassName("accordion-button");
    var btn1 = document.getElementsById("#collapseOne");
    function asp() {
        if (btn[0].getAttribute('aria-expanded')) {
            btn[0].setAttribute('aria-expanded', false);
            btn1.addClass("show");
        }
        else
            btn[0].setAttribute('aria-expanded', true);
        btn1.removeClass("show");
                                }
</script>*@
<script>
    setTimeout(function () { $(".loding-div").hide() }, 500);
</script>
<script>

    function getfilterdata() {
        $(".loding-div").show();


        var pagesize = $('#SizeSelect').val();
        var currentpage = $('#crt-page').val();

        $.ajax({
            url: "/PatientDashboard/IndexList",
            type: "GET",
            data: {
                
                currentpage: currentpage,
                pagesize: pagesize
            },
            success: function (response) {
                setTimeout(function () { $(".loding-div").hide() }, 500);
                $('#SearchResult').html(response);
            },
            error: function () {
                $(".loding-div").hide();
                alert("error");
            }
        });
    }

    function getpage(index) {
        $("#crt-page").val(index);

    }


</script>


