@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="loding-div">
    <div class="bro" id="BRO" style="height:100%;width:100%;position:absolute;background-color:black;opacity:0.2;z-index:1">
    </div>
    <div class="loading" id="Loading"></div>
</div>

<div class="container-fluid p-4 ">
    <partial name="_UpperTab.cshtml" />
    <div class="card bg-transparent p-1 border-0 ">
        <div class="card-header p-2  d-flex justify-content-between  border-0  bg-transparent  mt-2">
            <div class="text-start   d-flex ">
                <span class="fw-bold hero-heading"> Patients</span><span class="mx-2 fw-bold text-primary mt-2 hero-heading-active">()</span>
            </div>
            <div class="text-end ">
                <partial name="../Action/Partialdash/DashboardButtons.cshtml" />

            </div>
        </div>
        <div class="card-body rounded shadow-lg m-2 ">
            <partial name="../Action/Partialdash/_SearchFilter.cshtml" />

    <div id="SearchResult">

   </div>
           
</div>

    </div>
</div>
    <partial name="../Action/Partialdash/_allPartialAction.cshtml" />
   
</div>
<script>
 
    $(function () {
        $(".loding-div").show();
        
        $("#filterForm").submit();
        $(".loding-div").hide();
      
    });


    filterSelection("all")
    function filterSelection(c) {

        $('#dot-filter').val(c);
       
    }





   function getfilterdata()
   {


   }



  
</script>