@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@using HelloDocAdmin.Controllers.Authenticate;
<script>
   
    function getfilterdata() {
        $(".loding-div").show();
        var currentpage = $('#crt-page').val();
        var region = $('#region').val();
        var search ="" + $('#myInput').val() ;
        var pagesize = $('#SizeSelect').val();
        var requesttype = $('#dot-filter').val();
        var Status=$('#cr-status').val();
        console.log(pagesize);
        if(Status=='1')
        {
            $('#page-status').html('New');
        }
        else if (Status == '2') {
            $('#page-status').html('Panding');
        }
        else if (Status == '4,5') {
            $('#page-status').html('Active');
        } else if (Status == '6') {
            $('#page-status').html('Conclude');
        }
        else if (Status == '3,7,8') {
            $('#page-status').html('To Close');
        }
        else if (Status == '9') {
            $('#page-status').html('Unpaid');
        }
        $.ajax({
            url: "/Dashboard/_SearchResult",
            type: "GET",
            data: {
                search: search,
                region: region,
                requesttype: requesttype,
                currentpage: currentpage,
                Status: Status,
                pagesize: pagesize

            },
            success: function (response) {
                setTimeout(function () { $(".loding-div").hide() }, 500);
                $('#SearchResult').html(response);
               
               
            },
            error: function () {
                alert("error");
            }
        });
    }
    
    function getpage(index) {
        $("#crt-page").val(index);
    
    }
    </script>

@*<div class="loding-div">
    <div class="bro" id="BRO" style="height:100%;width:100%;position:absolute;background-color:black;opacity:0.2;z-index:1">
    </div>
    <div class="loading" id="Loading"></div>
</div>*@

<div class="container-fluid p-4 ">
    
    <partial name="_UpperTab.cshtml" />
    <div class="card bg-transparent p-1 border-0 ">
        <div class="card-header p-2  d-flex justify-content-between  border-0  bg-transparent  mt-2">
            <div class="text-start   d-flex ">
                <span class="fw-bold hero-heading"> Patients</span><span class="mx-2 fw-bold text-primary mt-2 hero-heading-active">(
                    
                    
                    <span class="" id="page-status">@CV.CurrentStatusText()</span>

              


                    )</span >

            </div>
            <div class="text-end ">
                <partial name="../Action/Partialdash/DashboardButtons.cshtml" />

            </div>
        </div>
        <div class="card-body rounded shadow-lg m-2" >
           
          
            <partial name="../Action/Partialdash/_SearchFilter.cshtml" />
           
           <div class="position-relative " >


               

              <div class="middle loding-div position-absolute  top-50" style="left:50%;">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                        <div class="bar bar4"></div>
                        <div class="bar bar5"></div>
                        <div class="bar bar6"></div>
                        <div class="bar bar7"></div>
                        <div class="bar bar8"></div>
                    </div>
                   
             
                <div id="SearchResult">
               


            </div>
                
               
               </div>
   
           
</div>

    </div>
</div>
    <partial name="../Action/Partialdash/_allPartialAction.cshtml" />
   
</div>
<script>
 
    $(function () {
        
        
      
        getfilterdata();
       
      
    });


   
   


      function displayErrorMessage(inputElement, message) {
        // Find the parent div of the input
        let parentDiv = inputElement.closest(".inputs-control") || inputElement.closest(".input-control");

        // Create a span element for the error message
        let errorMessageElement = document.createElement("span");
        errorMessageElement.className = "err-msg";
        errorMessageElement.textContent = message;

        // Append error message to the parent div
        parentDiv.after(errorMessageElement);
    }




  
</script>