@using HelloDocAdmin.Controllers.Authenticate;
<div class="row justify-content-between mb-2 ">
    <div class="text-start col-md-4 ">
        <div class=" row">

            <div class="col-md-6">

                <div class="inputs-control mt-1 w-100 p-0 ">
                    <input placeholder=" " class="input-outline input-outline-search " id="myInput" onkeyup=" getfilterdata()" type="text"/>
                    <label class="inputs-lable">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                        </svg> Search Patient
                    </label>
                </div>
            </div>
            @if(CV.LoggedUserRole()=="Admin")
            {
                <div class="col-md-6">
                    <div class="dropdown w-100 mt-1   ">
                        <div class="inputs-control w-100 p-0 ">





                            <select class="input-outline input-outline-search h-100 " style="color:#ADADAD" id="region" data-allow-clear="true" aria-expanded="false" tabindex="-1" onchange="getfilterdata()" asp-items="@(new SelectList(ViewBag.RegionComboBox,"RegionId","RegionName"))" data-control="select2" data-placeholder="Select Level">
                                <option value="0">All Region</option>
                            </select>

                        </div>


                    </div>
                </div>
            }
            
        </div>



    </div>

    <div class="text-start mt-2 col-md-5">
        <input type="hidden" value="0" id="dot-filter"/>
        <div class="d-flex   text-start  justify-content-end ">
          @*  <button class="btn  btn-outline-info btn-sm mx-2 cir-text">all </button>*@
            <div class="d-flex  align-items-center active1 mx-1 itm " tyle="cursor:pointer;" onclick="hello(0)">
                <div class="text-info cir-text">All</div>
            </div>
            
            <div class="d-flex align-items-center  mx-1" style="cursor:pointer;" onclick="hello(1)">
                <div class="cir-patient mx-1 ">
                </div>
                <span class="cir-text itm">
                    Patient
                </span>
            </div>
            <div class="d-flex align-items-center mx-1 " style="cursor:pointer;" onclick="hello(2)">
                <div class="cir-family mx-1 ">
                </div>
                <span class="cir-text itm">
                    Family/Friend
                </span>
            </div>
            <div class="d-flex align-items-center mx-1 " style="cursor:pointer;" onclick="hello(3)">
                <div class="cir-Business mx-1 ">
                </div>
                <span class="cir-text itm">
                    Business
                </span>
            </div>
            <div class="d-flex align-items-center mx-1  " style="cursor:pointer;" onclick="hello(4)">
                <div class="cir-Concierge mx-1  ">
                </div>
                <span class="cir-text itm">
                    Concierge
                </span>
            </div>
        </div>
    </div>


</div>
<script>
    function hello(num){
        $('#dot-filter').val(num);
        getfilterdata();


       
    }

    var navLinks = document.getElementsByClassName("itm");
    for (var i = 0; i < navLinks.length; i++) {
        navLinks[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active1");
            if (current.length > 0) {
                current[0].className = current[0].className.replace(" active1", "");
            }
            this.className += " active1";
        });
    }
   

</script>