@using HelloDocAdmin.Controllers.Authenticate;
<div class="bd-example">
    <a class="btn btn-info text-white btn-info-dsh " data-bs-toggle="modal" data-bs-target="#sendlink" role="button">
        <i class="fa-solid fa-paper-plane"></i>
        <span class="btn-text">
            Send Link
        </span>
    </a>
    <a asp-action="CreateNewRequest" asp-controller="Action"  class="btn btn-info text-white btn-info-dsh" >
        <i class="bi bi-file-earmark-plus"></i>
        <span class="btn-text">
            Create Request
        </span>
    </a>
   @if(CV.LoggedUserRole()=="Admin")
    {
        
   
    <a asp-action="DownloadExcel"  asp-controller="Report" asp-route-status="@TempData["CurrentStatusinlist"]" class="btn btn-info btn-info-dsh text-white" type="submit">
        <i class="fa-solid fa-share"></i>
        <span class="btn-text">
            Export
        </span>
    </a>
    <a asp-action="DownloadExcel"  asp-controller="Report" asp-route-status="1,2,3,4,5,6,7,8,9"  class="btn btn-info text-white btn-info-dsh" type="submit">
        <i class="fa-solid fa-share-from-square"></i>
        <span class="btn-text">
            Export All
        </span>
    </a>
    <a class="btn btn-info  text-white btn-info-dsh" data-bs-toggle="modal" data-bs-target="#RequestSupport" role="button">
        <i class="fa-solid fa-user-nurse"></i>
        <span class="btn-text">
            Request Support
        </span>
    </a>
    }
</div>
