@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@model HelloDocAdmin.Entity.ViewModels.Authentication.ForgotPassword




<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<div class="bg-image-dash"></div>
<img src="~/images/Fig56. Patient site 1.png" class="img-fluid rounded-start mt-3 py-4 logo" alt="...">
<form class="bg-transparent d-flex flex-column align-content-between col-md-6 col-11 " id="changePasswordForm" method="post" asp-controller="Login" asp-action="ResetEmail" method="post">

    <h4 class="px-4 py-4 login-hero-text">Enter Your Email</h4>
    <div class=" mb-3">
        <div class="inputs-control w-100 mt-3">
            <input placeholder=" " asp-for="Email" class="input-outline w-100 inp" id="pas2" type="email">
            <label class="inputs-lable">Email</label>
            <a onclick="Toggle_new1()"><i class="far fa-user icon-input bg-transparent"></i></a>
        </div>
        <span asp-validation-for="Email" class="err-msg"></span>
    </div>
   


    <div class="d-grid mb-3">
        <button id="changePasswordBtn" class="btn button-login btn-primary border-0 submit" type="submit">Send Mail..!</button>
        <a asp-action="Index" asp-controller="Login" class="px-2 forgot-text mt-3"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to login</a>
    </div>

</form>


