@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}





<div class="card bg-transparent mt-4 border-0 mb-3">
    <div class="row g-0 align-items-center">
        <div class="col-md-4 text-end">
            <img src="~/icons/AccessDenide.png" class="img-fluid rounded " style="width:300px;height:300px" alt="Access Denied">
        </div>
        <div class="col-md-8">
            <div class="card-body text-start">
                <h2 class="card-title"><b>Link Expired!!</b></h2>
                <h4 class="card-text">Sorry, you do not have permission to Change password with this link.</h4>
                <p class="card-text"><small class="text-muted">Please contact your administrator for assistance.</small></p>
                <a asp-action="Index" asp-controller="Login" class="px-2 forgot-text mt-3 submit"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to login</a>
            </div>
        </div>
    </div>
</div>



