@using static HelloDocAdmin.Entity.ViewModels.AdminSite.Constant;
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    var enumData = from AdminStatus e in Enum.GetValues(typeof(AdminStatus))
                   select new
                   {
                       ID = (int)e,
                       Name = e.ToString()
                   };
}
@model List<HelloDocAdmin.Entity.ViewModels.AdminSite.VendorListView>

<div class="container-fluid">
    <div class="card bg-transparent border-0">
        <div class="card-header d-flex justify-content-between  border-0  bg-transparent p-1  mt-3 mb-2">
            <div class="text-start d-flex align-items-center">
                <h5 class="mt-2"><b> vendor(s)</b></h5>

            </div>
            <div class="text-end">
                <a asp-controller="Dashboard" asp-action="Index"
                   class="btn btn-outline-info btn-back">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                         fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5" />
                    </svg>Back
                </a>
            </div>
        </div>

        <div class="card-body rounded shadow">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex ">
                    <div class="dropdown text-start ">
                        <div class="input-control w-100 ">
                            <select class="input-outline input-outline-select inp asp  inp-dis" onchange="getfilterdata()" id="healthproffesionID" data-allow-clear="true" tabindex="-1" asp-items="@(new SelectList(ViewBag.Healthprofessionaltype, "HealthprofessionalID", "ProfessionName"))" data-control="select2" data-placeholder="Select Level">
                                <option value="0">Select Type</option>
                            </select>
                        </div>
                       
                    </div>
                    <div class="inputs-control mx-2">
                        <input placeholder=" " id="vendorName" onkeyup="getfilterdata()" class="input-outline w-100 inp admin-input" type="text">
                        <label class="inputs-lable">Vendor Name</label>
                    </div>
                </div>
            
                <div class="text-end d-flex"> 
                    <a class="btn btn-info text-white" asp-action="VendorAddEdit" asp-controller="Vendor">
                        <span class="addnewlg">
                            Add Vendor <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        </span>
                        <span class="addnewsm">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="position-relative ">




                <div class="middle loding-div position-absolute  top-50" style="left:50%;z-index:99">
                    <div class="bar bar1"></div>
                    <div class="bar bar2"></div>
                    <div class="bar bar3"></div>
                    <div class="bar bar4"></div>
                    <div class="bar bar5"></div>
                    <div class="bar bar6"></div>
                    <div class="bar bar7"></div>
                    <div class="bar bar8"></div>
                </div>


                <div id="SearchResult">
                </div>


            </div>
            
        </div>
    </div>

</div>


<script>
    setTimeout(function () { $(".loding-div").hide() }, 500);
</script>



<script>
    function confirmDelete(vendorId) {
        Swal.fire({
            title: "Delete Vendor ?",
            showDenyButton: false,
            showCancelButton: true,
            confirmButtonText: "Yes",
            denyButtonText: `Don't delete`
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/Vendor/DeleteVendor?vendorid=' + vendorId;
            }
          

            
        });
    }
</script>

<script>
    $(function () {

        getfilterdata();


    });
</script>
<script>

    function getfilterdata() {
        $(".loding-div").show();
        var vendorName = $('#vendorName').val();
        var healthproffesionID = $('#healthproffesionID').val();
       
        var pagesize = $('#SizeSelect').val();
        var currentpage = $('#crt-page').val();

        $.ajax({
            url: "/Vendor/VendorList",
            type: "GET",
            data: {
                healthproffesionID: healthproffesionID,
                vendorName: vendorName,
                currentpage: currentpage,
                pagesize: pagesize
            },
            success: function (response) {
                setTimeout(function () { $(".loding-div").hide() }, 500);
                $('#SearchResult').html(response);
            },
            error: function () {
                $(".loding-div").hide();
                alert("error");
            }
        });
    }

    function getpage(index) {
        $("#crt-page").val(index);

    }
   

</script>