@using static HelloDocAdmin.Entity.ViewModels.AdminSite.Constant;
@model List<HelloDocAdmin.Entity.ViewModels.AdminSite.ViewUserAccess>;
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
   
    var enumData = from AccountType e in Enum.GetValues(typeof(AccountType))
                   select new
                   {
                       ID = (int)e,
                       Name = e.ToString()
                   };
   
   


}

<div class="container">

    <div class="card bg-transparent border-0">
        <div class="card-header d-flex justify-content-between  border-0  bg-transparent p-1  mt-3 mb-2">
            <div class="text-start d-flex align-items-center">
                <h5 class="mt-2"><b> User Access</b></h5>

            </div>
            <div class="text-end">
                <a onclick="history.back()"
                   class="btn btn-outline-info btn-back">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                         fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5" />
                    </svg>Back
                </a>
            </div>
        </div>
        
        <div class="card-body rounded shadow">
            <div class="d-flex justify-content-between">
                <div class="dropdown text-start ">
                    <div class="input-control w-100 ">
                        <select class="input-outline input-outline-select inp asp  inp-dis" onchange="getfilterdata()" id="accounttype" data-allow-clear="true" tabindex="-1" asp-items="@(new SelectList(enumData,"ID","Name"))" data-control="select2" data-placeholder="Select Level">
                            <option value="0">Account Type</option>
                        </select>
                    </div>
                   
                </div>
                <div class="text-end d-flex">

                    <a asp-action="AdminProfile" asp-controller="Access" type="button" id="adminAccount" class="btn btn-outline-info" style="display:none">
                        <span class="addnewlg">
                            Create New admin
                        </span>
                        <span class="addnewsm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                            </svg>
                        </span>
                    </a>
                    <a asp-action="PhysicianProfile" asp-controller="Access" type="button" id="providerAccount" class="btn btn-outline-info" style="display:none">
                        <span class="addnewlg">
                            Create New Provider
                        </span>
                        <span class="addnewsm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                            </svg>
                        </span>
                    </a>
                   

                       
                    
                </div>
            </div>
            <div class="position-relative ">




                <div class="middle loding-div position-absolute  top-50" style="left:50%;z-index:99">
                    <div class="bar bar1"></div>
                    <div class="bar bar2"></div>
                    <div class="bar bar3"></div>
                    <div class="bar bar4"></div>
                    <div class="bar bar5"></div>
                    <div class="bar bar6"></div>
                    <div class="bar bar7"></div>
                    <div class="bar bar8"></div>
                </div>


                <div id="SearchResult">
                </div>


            </div>

          
        </div>
    </div>

</div>
<script>
    setTimeout(function () { $(".loding-div").hide() }, 500);
</script>

<script type="text/javascript">

    $('#accounttype').on('change', function () {
       
        var Accounttype = $("#accounttype").val();
        console.log($("#accounttype").val());
        if (Accounttype == 2) {
            $('.Admin').show();
            $('.Physician').hide();
            $('#adminAccount').show();
            $('#providerAccount').hide();

        } else if (Accounttype == 3) {
            $('.Admin').hide();
            $('.Physician').show();
            $('#adminAccount').hide();
            $('#providerAccount').show();
        } else {
            $('.Admin').hide();
            $('.Physician').hide();

            $('#adminAccount').hide();
            $('#providerAccount').hide();
        }
    });

  
    

   
</script>
<script>
    $(function () {

        getfilterdata();


    });
</script>
<script>

    function getfilterdata() {
        $(".loding-div").show();
        var accounttype = $('#accounttype').val();
      

        var pagesize = $('#SizeSelect').val();
        var currentpage = $('#crt-page').val();

        $.ajax({
            url: "/Access/AccessList",
            type: "GET",
            data: {
               
                accounttype: accounttype,
                currentpage: currentpage,
                pagesize: pagesize
            },
            success: function (response) {
                console.log(response);
                setTimeout(function () { $(".loding-div").hide() }, 500);
                $('#SearchResult').html(response);
            },
            error: function () {
                $(".loding-div").hide();
                alert("error");
            }
        });
    }

    function getpage(index) {
        $("#crt-page").val(index);

    }


</script>